<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="BetterMagento_Core::bettermagento"
             title="BetterMagento"
             module="BetterMagento_Core"
             sortOrder="900"
             parent="Magento_Backend::content"
             resource="BetterMagento_Core::bettermagento"/>
    </menu>
</config>
